.inputContainer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    color: black;
    font-size: 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    background: lightgray;
    padding: 0.5rem;
    width: 50%;
}

.inputError {
    color: black;
    font-size: 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    background: #EED3D9;
    padding: 0.5rem;
    width: 50%;
}

.inputGood {
    color: black;
    font-size: 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    background: #CCD3CA;
    padding: 0.5rem;
    width: 50%;
}

.inputCheckButton {
    align-items: center;
    margin-left: 0.5rem;
    padding: 0.5rem;
    height: 100%;
    border-radius: 0.5rem;
    border: transparent;
    background: #CCD3CA;
    transition: 0.2s all ease-in-out;
}

.inputCheckButton:hover {
    background: #9ce189;
}

.inputCheckButton:active {
    opacity: 0.5;
}

.inputCheckIcon {
    width: 0.8rem;
}