.audioContainer{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.audioControl {
    padding: 1rem;
    background: transparent;
    border: transparent;
}